$baseFontSize: 16;
$breakpoint: 960px;
$breakpoint-sp-no-unit:375;
$min-breakpoint:768;
$max-breakpoint: 1440;
$breakpoint-sp:375px;
$breakpoint-tablet:768px;
$breakpoint-pc: 1440px;
$breakpoint-pc-narrow: 1300px;